@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-image: url(/Clase\ 01\ bos/imagen/copa1.jpg); 
  

  background-position:center ;
}
header{
    background:#343a40;        
}
img {
  margin-top: 6px;
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 50px;
}
h2{
 
}
